body{
    font-family: Helvetica;
    font-weight: bold;
}

p{
    font-weight: normal;
}

.mainheading{
    color: khaki;
    font-size: 100px;
}

.subheading{
    color: white;
    font-size: 32px;
}

.greenBackground{
    background-color: mediumspringgreen;
}

.coralBackground{
    background-color: lightcoral;
}

.blueBackground{
    background-color: skyblue;
}

.blueFont{
    color: blue;
}