body{
    font-family: Helvetica;
    font-weight: bold;
}

p{
    font-weight: normal;
}

.mainHeading{
    background-image: url("../images/pattern.jpeg");
    width:300px;
    color: khaki;
    font-size: 100px;
    text-align: center;
    width: 100%;
}

.subHeading{
    color: white;
    font-size: 32px;
}

.greenBackground{
    background-color: mediumspringgreen;
}

.coralBackground{
    background-color: lightcoral;
}

.blueBackground{
    background-color: skyblue;
}

.blueFont{
    color: blue;
}